# app/views/restaurants/show.html.erb
<h1><%= @restaurant.name %></h1>

<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>Phone Number:</strong> <%= @restaurant.phone_number %></p>
<p><strong>Description:</strong> <%= @restaurant.description %></p>
<p><strong>Vegetarian:</strong> <%= @restaurant.vegetarian ? 'Yes' : 'No' %></p>

<h2>Bookings</h2>
<ul>
  <% @bookings.each do |booking| %>
    <li>
      <%= "#{booking.booking_date} at #{booking.booking_time}" %> - <%= booking.status %>
    </li>
  <% end %>
</ul>
