<!-- - create custom routes for profile
- create profile method in pages controller
- create view for profile.html.erb inside pages views folder
- current_user.bookings -->
<div class="container">
    <h1><%= @user.email %></h1>
  </div>
</div>

<%# booking Card %>





<div class="container">
  <div class="row mt-5">
    <% @user.bookings.each do |booking| %>




<div class="Popular-restaurant-info">
  <div class="Popular-restaurant-img">
        <a href="#"><img class=" Popular-restaurant-img-link " src="<%= booking.restaurant.image %>" alt=" "></a>
    </div>
    <div class=" Popular-restaurant-text-info ">
        <div class="Popular-restaurant-text-Title-favoriteIcon ">

            <h3 class=" Popular-restaurant-title "><a href="#"><%= booking.restaurant.name %></a>
            </h3>

        </div>

        <div class=" Popular-restaurant-description ">
            <p>
              At:  <%= booking.restaurant.name %></h3>
              Date: <%= booking.booking_date %></h3>
              Time: <%= booking.booking_time %></h3>

            </p>
        </div>

        <div class=" Popular-restaurant-rating-scoreVar ">
            <div class="Popular-restaurant-rating-wrapper">
                  <%= button_to "Delete", booking_path(booking), method: :delete, class:"btn btn-danger" %>
                  <%= button_to "Update", edit_booking_path(booking), method: :get, class: "btn btn-primary" %>

            </div>










        </div>
    </div>

</div>






















    <% end %>
