<!-- - create custom routes for profile
- create profile method in pages controller
- create view for profile.html.erb inside pages views folder
- current_user.bookings -->

<%# booking Card %>

<div class="">



    <% @user.bookings.each do |booking| %>


 <div class="bookingdiv">

<div class="Popular-restaurant-info">
  <div class="Popular-restaurant-img">
        <a href="#"><img class=" Popular-restaurant-img-link " src="<%= booking.restaurant.image %>" alt=" "></a>
    </div>
    <div class=" Popular-restaurant-text-info ">
        <div class="Popular-restaurant-text-Title-favoriteIcon ">

            <h3 class=" Popular-restaurant-title "><a href="#"><%= booking.restaurant.name %></a>
            </h3>

        </div>

        <div class=" Popular-restaurant-description ">
            <p><%= booking.restaurant.description %>
            </p>
        </div>

        <div class=" Popular-restaurant-rating-scoreVar ">
            <div class="Popular-restaurant-rating-wrapper">
            <div class="Popular-restaurant-rating" style="background-image: url(<%= asset_path('ratingbackground.svg') %>) ">
               <img class="Popular-rating-score" src="<%= asset_path('ratingscore.svg') %>" width="<%= (booking.restaurant.ratings * 100) / 5 %>%"    alt=" ">
            </div>



                <div class=" Popular-rateScorVar "><%= booking.restaurant.ratings %></div>




            </div>
            <div class=" Popular-restaurant-OpenNow ">
                <p>Open now</p>
                <img src="<%= asset_path('Open-now-Icon.svg') %>" alt=" ">
            </div>
        </div>



        <div class=" Popular-restaurant-tel-cuisine-openNow ">




        </div>
    </div>

</div>


      <div class="">

      <div class="bookinginfo">
      <div id="bookingwild">
        <h5>Your booking information</h5>
        <h4><%= booking.restaurant.name %></h4>
         <div class="inforestaurantbooking">

        <div class="restaurant-Address">
            <img class="Img-Icon" src="/assets/adressIcon-9b5480c829a84d0145f4b452f421c50c081a6941bf1428316a887a06ceb36c21.svg" alt=" ">
            <div class="textInfo"><%= booking.restaurant.address %></div>
        </div>

        <div class=" restaurant-tel ">
            <img class="Img-Icon" src="/assets/phoneIcon-603110e6c78f6977d858d4486cb2f988b91f88ecb7cf190127f1729b472edfb2.svg" alt=" ">

            <div class="textInfo"><%= booking.restaurant.phone_number %></div>
        </div>

        <div class="restaurant-OpningTime">
            <img class="Img-Icon" src="/assets/Open-now-Icon-11edcfd53de93dd8ff2587dc749fd7f59a90b43246d09e25017951d4fcdd3b74.svg" alt=" ">
            <div class="textInfo"><%= booking.booking_date %></div>
            <div class="textInfo"><%= booking.booking_time %></div>

        </div>
      </div>

      <div class="bookingeditBtn">
            <%= button_to "Delete", booking_path(booking), method: :delete, class: 'button-delete' %>
            <%= button_to "Update", edit_booking_path(booking), method: :get, class: 'button-edit' %>
      </div>


  </div>
  </div>
   <% end %>
  </div>


      </div>
