
<div class="flex-wrap">

<%# restaurant card %>

  <% @restaurants.each do |restaurant| %>
    <div class="mx-2 mb-4 zoom-effect">



<div class="Popular-restaurant-info">
  <div class="Popular-restaurant-img">
        <a href="<%= restaurant_path(restaurant) %>"><img class=" Popular-restaurant-img-link " src="<%= restaurant.image %>" alt=" "></a>
    </div>
    <div class=" Popular-restaurant-text-info ">
        <div class="Popular-restaurant-text-Title-favoriteIcon ">

            <h3 class=" Popular-restaurant-title "><a href="<%= restaurant_path(restaurant) %>"><%= restaurant.name %></a>
            </h3>

        </div>

        <div class=" Popular-restaurant-description ">
            <p><%= restaurant.description %>
            </p>
        </div>

          <div class=" restaurant-category-tag ">
         <%= restaurant.category %>
        </div>

        <div class=" Popular-restaurant-rating-scoreVar ">
            <div class="Popular-restaurant-rating-wrapper">
            <div class="Popular-restaurant-rating" style="background-image: url(<%= asset_path('ratingbackground.svg') %>) ">
               <img class="Popular-rating-score" src="<%= asset_path('ratingscore.svg') %>" width="<%= (restaurant.ratings * 100) / 5 %>%"   alt=" ">
            </div>



                <div class=" Popular-rateScorVar "><%= restaurant.ratings %></div>




            </div>
            <div class=" Popular-restaurant-OpenNow ">
                <p>Open now</p>
                <img src="<%= asset_path('Open-now-Icon.svg') %>" alt=" ">
            </div>
        </div>



        <div class=" Popular-restaurant-tel-cuisine-openNow ">




        </div>
    </div>

</div>























    <%= link_to restaurant_path(restaurant), class: "" do %>





      <% end %>

    </div>




  <% end %>
</div>
