
<div class="imageHeader">
  <%= image_tag @restaurant.image, class: "card-img-top" %>
</div>

<div class=" flex-wrap">
<div class="rightCol">
 <div class="card-body">
    <h3 class="card-title"><strong><%= @restaurant.name %></strong></h3>
    <p class="card-text">Phone number: <strong><%= @restaurant.phone_number  %></strong></p>
    <p class="card-text">Vegetarian: <strong><%= @restaurant.vegetarian %></strong></p>
    <p class="card-text">Description: <strong><%= @restaurant.description %></strong></p>
  </div>
</div>
<div class="booking">

<form action=""></form>

</div>

</div>

<div class="" style="width: 18rem;">


</div>
